* {
  box-sizing: border-box;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: black;
}

.title{
  color: cornflowerblue;
}

.read-more-link{
  font-size: small;
  color: blueviolet;
  text-decoration: underline;
  letter-spacing: 1px;
  cursor: pointer;
}
 .extra-content{
  color:black;
  font-weight: 500;
 
} 


/* Column container */
.outerDiv {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 0.2 linear;
  margin: auto;
  width: 80vw;
  background-color:#f5f5f5;

}
.time{
    color: gray;
    font-size: 13px;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.left {
  flex: 20%;
  background-color:#f5f5f5;
  padding: 20px;
}
.right{
    
    flex: 30%;
    background-color:white;
    padding: 20px;
}
/* Main column */
.main {
 
  flex: 50%;
  background-color: white;
  padding: 20px;
  
}
.news{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  font-size: 15px;
  
}
/* Fake image, just for this example */
.img {

  width: 100%;
  padding: 20px;
}
.fakeimg {
  width: 100%;
  padding: 20px;
}

.headline {
  background-color: white;
  width: 100%;
  padding: 20px;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}